.editor-styles-wrapper .wp-block-bisiesto-side-images .side-image-column,
.editor-styles-wrapper .wp-block-bisiesto-side-images .side-image-column:hover {
   flex-grow: 1;
}

.editor-styles-wrapper .wp-block-bisiesto-side-images:has( .side-image-column:hover ) .side-image-column:not( :hover ) .wp-block-button__link {
   font-size: 1rem;
}

.editor-styles-wrapper .wp-block-bisiesto-side-images:has( .side-image-column:hover ) .side-image-column:not( :hover ) .wp-block-button__link::after {
   margin-left: 0.75rem;
   transform: rotate( 0deg );
}
